@use "global" as *;
.about__image {
    width: 100%;
    position: relative;
    aspect-ratio: 345/212;
    display: grid;
    grid-template-columns: repeat(2, 18.55%) repeat(3, 1fr);
    grid-template-rows: 12.26% repeat(3, 1fr) 8.49%;
    grid-column-gap: 0;
    grid-row-gap: 0;
    @include mq("md") {
        position: relative;
        aspect-ratio: 345/212;
        display: grid;
        grid-template-columns: repeat(2, 18.55%) repeat(3, 1fr);
        grid-template-rows: 12.26% repeat(3, 1fr) 8.49%;
        grid-column-gap: 0;
        grid-row-gap: 0;
    }
}