@use "global" as *;
.about__image--left {
    aspect-ratio: 128/194;
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-area: 1 / 1 / 5 / 3;
    z-index: 2;
    // @include mq("md") {
    // }
}