@use "global" as *;
.about__image {
    width: 100%;
    height: 56.53vw;
    max-height: 21.25rem;
    margin-top: 2.5rem;
    display: flex;
    position: relative;
    @include mq("md") {
        max-height: 41.25rem;
        max-width: 67.5rem;
    }
}