@use "global" as *;
.blog__subTitle {
    font-size: 0.75rem;
    color: $sub-color;
    font-weight: $regular;
    @include mq("md") {
        font-size: 0.75rem;
        color: #fff;
        @include mq("md") {
            line-height: 1.2;
        }
    }
}