@use "global" as *;
.blog__title--wrap {
    text-align: center;
    @include mq("md") {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}