@use "global" as *;
.blog-section {
    font-family: $second-font-family;
    margin-top: 5rem;
    @include mq("md") {
        position: relative;
        padding-top: 5.625rem;
        margin-top: 0;
    }
}