@use "global" as *;
.campaign__button--prev {
    width: 5rem;
    height: 5rem;
    border: 0.0625rem solid $sub-color;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    transition: .3s;
}

.campaign__button--prev::before {
    border-top: 0.0625rem solid $sub-color;
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2.5rem;
    height: 0.0625rem;
}

.campaign__button--prev::after {
    border-top: 0.0625rem solid $sub-color;
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 0.875rem;
    width: 0.625rem;
    height: 0.0625rem;
    transform: rotate(45deg) translate(-50%, -50%);
}

.campaign__button--prev:hover {
    opacity: 0.4;
    transition: .3s;
}