@use "global" as *;
.campaign__inner {
    padding: 0 0.9375rem;
    margin: auto;
    width: 100%;
    @include mq("md") {
        max-width: 75rem;
        padding: 0 1.5625rem 0 1.5625rem;
        position: relative;
    }
}