@use "global" as *;
.contact__address {
    padding: 0 1.5625rem;
    @include mq("md") {
        width: 32.625rem;
        padding-right: 5rem;
        padding-left: 0;
        margin-bottom: 0;
        border-right: 0.0625rem solid $sub-color;
    }
}