@use "global" as *;
.contact__link {
    text-align: center;
    margin-top: 2.75rem;
    @include mq("md") {
        width: 50%;
        margin-top: 0;
        margin-left: 1.25rem;
        flex: 1;
    }
}