@use "global" as *;
.contact__subTitle {
    color: $sub-color;
    font-size: 0.75rem;
    font-weight: $regular;
    filter: drop-shadow(0 0.25rem 0.125rem rgba(0, 0, 0, 0.25));
    line-height: 1;
    @include mq("md") {
        filter: none;
    }
}