@use "global" as *;
.information__contents--inner {
    margin-top: 1.3125rem;
    @include mq("md") {
        margin-top: 3.75rem;
        padding-left: 3.1875rem;
        width: 50%;
        margin-left: -0.1875rem;
    }
}