@use "global" as *;
.mainvisual__text--title {
    font-size: 2.5rem;
    color: #fff;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.52em;
    line-height: 1.4;
    text-indent: 0.52em;
    @include mq("md") {
        font-size: 5rem;
    }
}