@use "global" as *;
.price__section--container {
    padding: 2.5rem 0 5rem;
    @include mq("md") {
        padding-top: 0;
        padding-bottom: 6.25rem;
        margin: 0 auto;
        position: relative;
    }
}

.price__section--container::before {
    @include mq("md") {
        position: absolute;
        content: "";
        bottom: 3.8125rem;
        left: calc(50% - min(48vw, 38.75rem));
        width: 27.3125rem;
        height: 12.5625rem;
        background-image: url(/assets/images/price-fish.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}