@use "global" as *;
.price__contents--list {
    margin-top: 2.5rem;
    @include mq("md") {
        // width: 30.75rem;
        width: 45.6%;
        margin-top: 0;
        // padding-right: 2.875rem;
    }
}