    @use "global" as *;
    .campaign__card--text {
        text-align: center;
        font-size: 1rem;
        margin-top: 0.4375rem;
        letter-spacing: -0.1em;
        @include mq("md") {
            text-align: initial;
            margin-top: 1rem;
            padding-left: 3.75rem;
            letter-spacing: 0;
        }
    }