@use "global" as *;
.price-del {
    position: relative;
    color: #000;
    font-size: 1.25rem;
    margin-right: 1.125rem;
    @include mq("md") {
        font-size: 1.5rem;
        margin-right: 1.625rem;
    }
}

.price-del::after {
    content: '';
    position: absolute;
    top: 0.75rem;
    left: 0;
    width: 100%;
    border-top: solid 0.1875rem #C94800;
}