@use "global" as *;
.price__list--title {
    border-bottom: 0;
    border-bottom: solid 0.0625rem $sub-color;
    padding-bottom: 0.1875rem;
    font-weight: $bold;
    color: $base-color;
    font-size: 1rem;
    @include mq("md") {
        margin: 0;
        padding-bottom: 0.25rem;
    }
}