@use "global" as *;
.section-subTitle {
    font-size: 0.75rem;
    color: $sub-color;
    font-weight: $regular;
    margin-top: 0.125rem;
    @include mq("md") {
        margin-top: 0.6875rem;
        line-height: 1.2;
    }
}