@use "global" as *;
.section-title {
    font-size: 2rem;
    color: $base-color;
    font-weight: $normal;
    line-height: 1.3;
    font-family: $second-font-family;
    @include mq("md") {
        font-size: 2.5rem;
        line-height: 1;
    }
}

.section-title::first-letter {
    color: $sub-color;
}