@use "global" as *;
.voice__card--title {
    border-bottom: 0;
    border-bottom: solid 0.0625rem $sub-color;
    margin-top: 0.25rem;
    padding-bottom: 0.1875rem;
    font-size: 1rem;
    line-height: 1.45;
    @include mq("md") {
        font-size: 1.5rem;
        margin-top: 0.5rem;
    }
}